name: Build LaTeX and Release PDF

on:
  push:
    branches: [ main ]

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    container: texlive/texlive:latest-full
    permissions:
      contents: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        persist-credentials: true # keep permission for adding tag

    - name: Install fonts
      run: |
        apt update
        apt install fonts-noto-cjk fonts-noto-cjk-extra

    - name: Compile LaTeX with XeLaTeX
      run: |
        sh ./build.sh
        mv ./dist/main.pdf ./changwei-resume.pdf

    - name: Mark repo directory as safe
      run: git config --global --add safe.directory /__w/resume/resume

    - name: Set new latest tag
      run: |
        git tag -f latest
        git push origin -f latest

    - name: Upload PDF to Release
      uses: softprops/action-gh-release@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        name: latest
        tag_name: latest
        make_latest: true
        files: |
          changwei-resume.pdf
